<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Wieland Shopware Modifikationen</label>
    <label lang="en">Wieland Shopware Modifications</label>

    <version>0.1.0</version>
    <link>http://sebastianwie.land/</link>
    <author>Sebastian Wieland</author>
    <copyright>All Rights Reserved</copyright>

    <compatibility minVersion="5.2.0" maxVersion="5.4.0">
        <blacklist>5.4.0</blacklist>
    </compatibility>

    <changelog version="1.0.0">
        <changes lang="de">
            - Verfügbarkeitsanzeige im Listing hinzugefügt
        </changes>
        <changes lang="en">
            - Added availability display in listing
        </changes>
    </changelog>
</plugin>