<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="boolean" required="true">
            <name>displayListingAvailability</name>
            <label lang="de">Verfügbarkeit in Artikelliste anzeigen</label>
            <label lang="en">Display availability in product listing</label>
            <value>true</value>
        </element>
        <element type="text" required="true">
            <name>fontFieldOrderNumber</name>
            <label lang="de">Bestellnummer des Schriftartfelds</label>
            <label lang="en">Ordernumber of the font-field</label>
        </element>
        <element type="text" required="true">
            <name>textFieldOrderNumber</name>
            <label lang="de">Bestellnummer des Textfelds</label>
            <label lang="en">Ordernumber of the text-field</label>
        </element>
    </elements>
</config>